# REDPANDA
REDPANDA_PORT=19092
REDPANDA_CONSOLE_PORT=8080

# SVC-AUTH

## Image
AUTH_IMAGE=svc-auth:dev
AUTH_MIGRATE_IMAGE=svc-auth-migrate:dev

## gRPC
AUTH_GRPC_PORT=50051
AUTH_GRPC_REFLECTION=true

## Postgres
AUTH_POSTGRES_HOST=auth-postgres
AUTH_POSTGRES_PORT=5432
AUTH_POSTGRES_DB=auth
AUTH_POSTGRES_USER=postgres
AUTH_POSTGRES_PASSWORD=password

## Kafka
AUTH_KAFKA_BROKERS=redpanda:9092

## Keys
AUTH_KEYS_DIR=../../../svc-auth/.keys

# SVC-USER

## Image
USER_IMAGE=svc-user:dev
USER_MIGRATE_IMAGE=svc-user-migrate:dev

## gRPC
USER_GRPC_PORT=50052
USER_GRPC_REFLECTION=true

## External services
AUTH_SERVICE_ADDR=svc-auth:50051

## Postgres
USER_POSTGRES_HOST=user-postgres
USER_POSTGRES_PORT=5433
USER_POSTGRES_DB=user
USER_POSTGRES_USER=postgres
USER_POSTGRES_PASSWORD=password

## Kafka
USER_KAFKA_BROKERS=redpanda:9092